@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ESTILIZAÇÃO GERAL*/

body {
    --bege: #E6E0D6;
    --marrom-escuro: #816D4F;
    --marrom-claro: #B29463;
    --preto: #000;
    --branco: #FFF;
    font-family: "Barlow", sans-serif;
    height: 4000px;
}

/* ESTLIZAÇÃO DOS INPUTS */

input[type="checkbox"] {
    border: 2px solid var(--marrom-claro);
    box-shadow: none;
}

input[type="checkbox"]:checked,
input[type="checkbox"]:focus {
    background-color: var(--marrom-claro);
    border-color: var(--marrom-claro);
    box-shadow: none;
    outline: none;
}

/* ESTILIZAÇÃO DOS BANNERS */

.banner {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.banner-1 {
    background-image: url(assets/banner-1.png);
}

.banner-2 {
    background-image: url(assets/banner-2.png);
}

.banner-3 {
    background-image: url(assets/banner-3.png);
}

.banner-titulo {
    --bs-bg-opacity: .2; /* TRANSPARÊCIA */
}

/* NOSSOS SERVIÇOS */

.card {
    width: 20rem;
}

.botao-padrao {
    background-color: var(--marrom-claro);
    color: var(--preto);
}

/* OFFCANVAS */

.accordion-button,
.accordion-button:focus {
    background-color: var(--marrom-claro);
}

/* NOSSOS PRODUTOS */

.card-produto {
    width: 18rem;
}

.produtos {
    justify-content: center;
    width: 100%;
}

/* FORMULÁRIO */

.input-range::-webkit-slider-thumb {
    background-color: var(--marrom-claro);
}

/* RODAPÉ */

footer {
    background-color: var(--marrom-claro);
}

/* DARK MODE */

[data-bs-theme="dark"] {
    color: #fff;;
    .nav-link, .card-body, .offcanvas, .accordion, .btn {
        --bs-nav-link-color: #fff;
        --bs-card-color: #fff;
        --bs-offcanvas-color: #fff;
        --bs-body-color: #fff;
        --bs-body-color: #fff;
    }
}